
.header{
  display: flex;
  flex-direction: column;
  background-color: #1871ca;
  min-height: 100vh;
  width:20rem;
  align-content: center;

}


.logo{
  display: flex;
  align-self: center;
}



.nav-links{
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.nav-links li{
  padding: 1rem;
}

.header a {
  text-decoration: none;
  color: white;

}